/**
* font
*/
@font-face {
	font-family: "My Custom Font";
	src: url(../font/Montserrat-Regular.otf) format("truetype");
}

body { 
	font-family: "My Custom Font", Verdana, Tahoma;
    color: lightgrey;
    background-color: black;
}

/*************************************
* http://www.steffenallen.com
* HEADER
**************************************/
#header {
  position: fixed;
  z-index: 99;
  top:0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 13;
  transition:background 0.2s ease-out, -webkit-transform 0.2s ease-out;
  transition:transform 0.2s ease-out, background 0.2s ease-out;
  transition: transform 0.2s ease-out, background 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.header-logo {
    margin: 0;
    display: table-cell;
    padding-right: 1em;
    width: 1%;
    vertical-align: top;
}

/*Mobile*/
@media screen and (max-width: 767px) {
.header-logo{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-right: 40px;
    box-sizing: border-box;
    float: none;
    font-size: 30px;
    white-space: normal;
    transition: opacity 0.2s ease-out;
}
    .menu_list {
        display: inline-block;
        margin-bottom: 1em;
       
}
.menu_list::before {
      content:"Menu";
       
}
    #menu>ul>li{
        outline: 0;
        margin: 0.2em 0.4em;
    }


<<<<<<< HEAD
=======
    .flickity-viewport{
      height:70vh!important;
    }

    .carousel-cell{
      height:120vw!important;
    }
>>>>>>> f35d4e97cfd9dcd92a940d2c19e7239beed1a512

    .header-logo a{
      font-size:36px;
    }

   
}

/*Desktop*/
@media screen and (min-width: 768px)  {
    #header{
        position: fixed;
        padding: 14px;
    }

    #menu{
        display: table-cell;
        text-align: right;
        vertical-align: top;
    }

    .menu_list {
        display: inline-block;
        margin-bottom: 1em;
        display:flex
}

    #menu>ul>li{
        outline: 0;
        margin: 0.2em 0.4em;
    }
}

.navbar-brand {
  padding: 0px;
  height:100px;
}



.header-logo, .header-logo a{
    text-decoration:none;
    line-height:1.3;
    font-size:20px;
    max-width: 660px;
    min-width: 200px;
}

.menu_style{
    list-style-type: none;
    margin: 0;
    padding: 0;
}



.container{
  margin-top:20%;
}

.container img{
  height:495px;
}

/* external css: flickity.css */

/** { box-sizing: border-box; }*/

/*body { font-family: sans-serif; }*/
